@font-face { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }


 img.center {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  border:0px !important;
}

.reveal section img {
  box-shadow: none;}


.reveal section img {
  border:0px !important;
}



.reveal footer {
  	font-size: 50%;
    color:#727272;
}

.attribution { 
    position:absolute;
    bottom: 30px !important;
    left:0;
    font-size:50% !important;
}

.full {
      height:100%;
      width:100%; 
}

.box-right {
    position: absolute; 
    width: 40%; 
    right: 0; 
    box-shadow: 0 1px 4px rgba(0,0,0,0.5), 0 5px 25px rgba(0,0,0,0.2); 
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff; 
    padding: 20px; 
    font-size: 30px; 
    text-align: left;
}

.box-left {
    position: absolute; 
    width: 40%; 
    left: 0; 
    box-shadow: 0 1px 4px rgba(0,0,0,0.5), 0 5px 25px rgba(0,0,0,0.2); 
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff; 
    padding: 20px; 
    font-size: 30px; 
    text-align: left;
}

/*.reveal .slides section .fragment.bold {
opacity: 1;
visibility: inherit;
}*/

.reveal .slides section .fragment.bold.current-fragment{
  font-weight: bold;
}

.reveal .slides section .fragment.bold.current-fragment::before{
  content:"👉 " ;
}

.reveal .slides section .fragment.sad{
  opacity: 1;
visibility: inherit;
}

.reveal .slides section .fragment.sad.current-fragment{
  font-weight: bold;
  color:DarkOliveGreen;
}

.reveal .slides section .fragment.sad.current-fragment::after{
  content:"😞 " ;
}

.reveal .slides section .fragment.sentence {
opacity: 1;
visibility: inherit;
}

.reveal .slides section .fragment.sentence.current-fragment{
  font-weight: bold;
}

.reveal .slides section .fragment.sparkley {
opacity: 1;
visibility: inherit;
}

.reveal .slides section .fragment.sparkley.current-fragment{
  border: none;
  font-weight: normal;
  color:pink;
  }

.reveal .slides section .fragment.alsosparkley {
opacity: 1;
color:grey;
}

.reveal .slides section .fragment.boxed {
    box-shadow: 0 1px 4px rgba(0,0,0,0.5), 0 5px 25px rgba(0,0,0,0.2); 
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff; 
    margin: 20px;
}

.reveal .slides section .boxed {
    box-shadow: 0 1px 4px rgba(0,0,0,0.5), 0 5px 25px rgba(0,0,0,0.2); 
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff; 
    margin: 20px;
}


.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: none; }

.reveal h3 {

  font-weight: normal;
}

.slides .header{
  position:absolute;
  top: -50%;
  left: -50%;
}
.slides .footer{
  position:absolute;
  bottom: 50%;
  left: -50%;
}

.fe-persistent-header {
  position: relative;
  z-index: 2;
  border-color: #e7e7e7;
}
.print-pdf .fe-persistent-header { display: none; }
@media print { .fe-persistent-header { display: none; } }

.fe-persistent-header p {
  color: black;
  float: right;
  font-size: small;
  margin: 30px 60px 20px;
}

.fe-persistent-header img {
  color: #fff;
  float: left;
  margin: 30px 60px 20px;
}
.fe-persistent-header a:nth-child(2) { float: left; }

.reveal blockquote {
/*  font-size: 18px;*/
  font-style: italic;
  width:100%;
  margin: 0.25em 0;
  line-height: 1.45;
  position: relative;
  background: none;
  padding:10px;
  box-shadow: none;
}

/*.reveal blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -5px;
  top: -20px;
}

.reveal blockquote:after {
  display: block;
  content: "\201D";
  font-size: 80px;
  position: absolute;
  right:0;
  bottom:-0.5em;
  right: -5px;
  top: -20px;
}*/

blockquote footer {
    padding: 0 2em 0 0;
    text-align:center;
}

blockquote cite:before {
  content: "\2014 \2009";
}
